USE [master]
GO
/****** Object:  Database [STAGING]    Script Date: 11/06/2023 18:50:25 ******/
CREATE DATABASE [STAGING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STAGING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\STAGING.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'STAGING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\STAGING_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STAGING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STAGING]
GO
/****** Object:  Table [dbo].[Dim_Cuentas]    Script Date: 11/06/2023 18:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dim_Cuentas](
	[CuentaID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Tipo de cuenta] [varchar](50) NULL,
	[Saldo] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dim_Movimientos]    Script Date: 11/06/2023 18:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dim_Movimientos](
	[MovimientoID] [int] NOT NULL,
	[CuentaID] [int] NULL,
	[Descripcion] [varchar](100) NULL,
	[Monto] [decimal](10, 2) NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovimientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dim_Prestamos]    Script Date: 11/06/2023 18:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Prestamos](
	[PrestamoID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Monto] [decimal](10, 2) NULL,
	[Tasa de interés] [decimal](5, 2) NULL,
	[Fecha de inicio] [date] NULL,
	[Fecha de vencimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrestamoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dim_Usuarios]    Script Date: 11/06/2023 18:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dim_Usuarios](
	[UserID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Correo electrónico] [varchar](100) NULL,
	[Contraseña] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fact_BDBANCO]    Script Date: 11/06/2023 18:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fact_BDBANCO](
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[CuentaID] [int] NOT NULL,
	[MovimientoID] [int] NOT NULL,
	[PrestamoID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Monto] [decimal](10, 2) NULL,
	[Saldo] [decimal](10, 2) NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CuentaID] ASC,
	[MovimientoID] ASC,
	[PrestamoID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Dim_Cuentas]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Dim_Usuarios] ([UserID])
GO
ALTER TABLE [dbo].[Dim_Movimientos]  WITH NOCHECK ADD FOREIGN KEY([CuentaID])
REFERENCES [dbo].[Dim_Cuentas] ([CuentaID])
GO
ALTER TABLE [dbo].[Dim_Prestamos]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Dim_Usuarios] ([UserID])
GO
ALTER TABLE [dbo].[Fact_BDBANCO]  WITH NOCHECK ADD FOREIGN KEY([CuentaID])
REFERENCES [dbo].[Dim_Cuentas] ([CuentaID])
GO
ALTER TABLE [dbo].[Fact_BDBANCO]  WITH NOCHECK ADD FOREIGN KEY([MovimientoID])
REFERENCES [dbo].[Dim_Movimientos] ([MovimientoID])
GO
ALTER TABLE [dbo].[Fact_BDBANCO]  WITH NOCHECK ADD FOREIGN KEY([PrestamoID])
REFERENCES [dbo].[Dim_Prestamos] ([PrestamoID])
GO
ALTER TABLE [dbo].[Fact_BDBANCO]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Dim_Usuarios] ([UserID])
GO
USE [master]
GO
